<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2014 Ben Navetta

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<Configuration status="warn" name="Vetinari">

    <Appenders>
        <Routing name="dispatch">

            <Routes pattern="$${sys:vetinari.verbosity}">

                <!-- Standard verbosity -->
                <Route key="normal">

                    <Console name="console-normal" target="SYSTEM_OUT">

                        <PatternLayout pattern="%highlight{%level %msg%n}"/>

                        <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>

                    </Console>

                </Route>

                <!-- Debug level -->
                <Route key="debug">

                    <Console name="console-debug" target="SYSTEM_OUT">

                        <PatternLayout pattern="%date{hh:mm:ss.SSS a} [%-5level] %c{1.} %msg%n"/>

                        <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>

                    </Console>

                </Route>

                <!-- Everything -->
                <Route key="verbose">

                    <Console name="console-verbose" target="SYSTEM_OUT">

                        <PatternLayout pattern="%date{hh:mm:ss.SSS a} [%-5level] %c{1.} %msg%n"/>

                    </Console>

                </Route>

            </Routes>

        </Routing>
    </Appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="dispatch"/>
        </Root>
    </Loggers>

</Configuration>